.application-fieldset {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border: 0;
  background-color: #f2f2f2;
}

.application-fieldset__title {
  margin: 0;
  padding: 0;
  padding-top: 37px;
  padding-bottom: 35px;
  font-family: $open-sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #d22856;
  text-transform: uppercase;
}

.application-fieldset__input-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .application-fieldset {
    order: 3;
    margin: 0 auto;
    margin-bottom: 66px;
    padding-bottom: 8px;
    border: 2px solid #e5e5e5;
    background-color: #fff;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 21px;
  }

  .application-fieldset__title {
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    top: -16px;
    font-family: $open-sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: #d22856;
    text-transform: uppercase;
    text-align: center;
    padding-top: 0;
    padding-bottom: 22px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .application-fieldset__input-wrapper {
    padding-left: 57px;
    padding-right: 57px;
  }
}
