.big-photo-blog {
  font-size: 18px;
  line-height: 18px;
  font-family: "Open-sans", "Arial", sans-serif;
  font-style: normal;
}

.big-photo-blog__post {
  width: 500px;
  margin: 0 auto;
  background-color: #f2f2f2;
}
