.btn {
  display: inline-block;
  vertical-align: top;
  padding-top: 15px;
  padding-right: 35px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-family: $open-sans;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}

@media (min-width: $tablet-width) {
  .btn {
    padding-right: 45px;
    padding-left: 45px;
  }
}

@media (min-width: $desktop-width) {
  .btn {
    padding-right: 30px;
    padding-left: 30px;
  }
}
