
.contacts__title {
  font-family: $open-sans;
  line-height: normal;
  font-size: 24px;
  font-weight: 300;
  color: #283645;
}

.contacts__item-title {
  font-family: $open-sans;
  font-size: 18px;
  font-weight: $bold;
  color: #283645;
  text-align: center;
}

.contacts__item-info {
  font-family: $open-sans;
  font-size: 24px;
  font-weight: 3000;
  color: #d22856;
  text-align: center;
}
