.developer {
  margin-top: 32px;
}

.developer__text {
  font-family: $open-sans;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-align: left;
  color: #283645;
  text-decoration: none;
  // vertical-align: top;
  padding-top: 3px;
}

.developer__academy-logo {
  margin-left: 0px;
  width: 27px;
  height: 34px;
}

.developer__link {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  width: 27px;
  height: 34px;
}
