.downloads {
  padding-top: 28px;
  padding-bottom: 13px;
  background-color: #1d2631;
  text-align: center;
}

.downloads__inner {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.downloads__platform {
  font-size: 0;
}

.downloads__download-btn {
  border: 3px solid #FFFFFF;
  border-radius: 30px;
  color: #FFFFFF;
  background-color: transparent;
  margin-bottom: 32px;
}

.downloads__platform {
  display: inline-block;
  vertical-align: top;
  width: 47px;
  height: 56px;
  background-color: #d22856;
  margin-right: 14px;
  margin-left: 14px;
  text-align: center;
}

.downloads__platform--apple {
  background: url(../img/logo-apple.svg) no-repeat top left;
  background-size: 47px 56px;
}

.downloads__platform--android {
  background: url(../img/logo-android.svg) no-repeat center 8px;
  background-size: 43px 47px;
}

.downloads__platform--windows {
  background: url(../img/logo-microsoft.svg) no-repeat right 12px;
  background-size: 44px 41px;
}

.downloads__description {
  font-family: $open-sans;
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  font-weight: 300;
  margin-top: 22px;
  color: #FFFFFF;
}
