.download-app {
  position: relative;
  background-color: #283645;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -67px;
  color: #ffffff;
  padding-top: 0;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 322px auto;
    background-position-x: center;
    background-position-y: -71px;
  }
}

.download-app--short {
  padding-top: 66px;
  background-position-y: 0;
}

@media (min-width: 321px) {
  .download-app {
    position: relative;
    background-color: #283645;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -53px;
    background-size: 790px auto;
    color: #ffffff;
    padding-top: 64px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 777px auto;
      background-position-y: -48px;
    }
  }
}

.download-app__wrapper::before {
  content: "";
  display: block;
  position: relative;
  width: 320px;
  height: 396px;
  bottom: 0;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  margin-left: auto;
  margin-right: auto;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
    background-size: 258px auto;
  }
}

.download-app__title {
  font-weight: 300;
  font-size: 24px;
  line-height: normal;
  letter-spacing: normal;
  font-style: normal;
  font-stretch: normal;
  position: absolute;
  top: 19px;
  text-align: center;
  color: #ffffff;
  left: 30px;
  right: 30px;
  margin: 0;
}

.download-app__title--short {
  top: 87px;
}

@media (min-width: $tablet-width) {
  .download-app__title {
    font-size: 40px;
    position: relative;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 70px;
    line-height: 50px;
    top: 0;
    left: 0;
    right: 0;
  }

  .download-app {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: 1200px auto;
    background-position-x: center;
    background-position-y: -110px;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }

  .download-app--short {
    padding-top: 109px;
    background-position-y: 0;
  }

  .download-app__wrapper::before {
    position: absolute;
    order: 2;
    z-index: 0;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-repeat: no-repeat;
    width: 660px;
    height: 545px;
    right: 20px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
      background-size: 701px auto;
    }
  }


  .download-app__inner {
    z-index: 1;
    padding-top: 70px;
    padding-left: 20px;
    padding-bottom: 84px;
    margin-right: 320px;
  }

  .download-app__content {
    position: relative;
    z-index: 2;
  }

  .download-app__title--short {
    top: 0;
  }
}


@media (min-width: $desktop-width) {
  .download-app__title {
    font-size: 50px;
    text-align: center;
    line-height: 60px;
    padding-top: 18px;
    padding-right: 21px;
    padding-left: 0;
  }

  .download-app {
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat;
    background-size: cover;
    height: 745px;
    background-position-x: center;

    @media (min-resolution: $retina-dppx) {
      background: url("../img/bg-back-desktop@2x.jpg") no-repeat;
      background-size: 2560px auto;
      background-position-x: center;
    }
  }

  .download-app__wrapper::before {
    background: url("../img/iphone-hand-desktop@1x.png") no-repeat;
    background-position: -10px -10px;
    width: 585px;
    height: 655px;
    background-position-x: -329px;
    background-position-y: 10px;

    @media (min-resolution: $retina-dppx) {
      background: url("../img/iphone-hand-desktop@2x.png") no-repeat;
      background-size: 1050px auto;
      background-position-x: -330px;
      background-position-y: 10px;
    }
  }

  .download-app__inner {
    padding-top: 90px;
    margin-right: 628px;
    padding-left: 10px;
  }

  .download-app__wrapper {
    margin: 0 auto;
    position: relative;
  }
}
