.main-nav__toggle {
  display: none;
  position: absolute;
  top: 22px;
  right: 19px;
  width: 50px;
  height: 24px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.main-nav__toggle--show {
  display: block;
}

.main-nav__icon-burger {
  position: absolute;
  top: -2px;
  right: 1px;
  fill: #ffffff;

  &:hover {
    fill: #d22856;
  }

  &:active {
    fill: #d22856;
    opacity: 0.3;
  }
}

.main-nav__icon-burger--hide {
  display: none;
}

.main-nav__icon-burger--show {
  display: block;
}

.main-nav__icon-cross--hide {
  display: none;
}

.main-nav__icon-cross--show {
  display: block;
}

.main-nav--opened .main-nav__icon-cross {
  display: block;
  position: absolute;
  content: "";
  top: -1px;
  left: 26px;
}

.main-nav__list {
  display: block;
}

.main-nav__list--closed {
  display: none;
}

.main-nav__list--opened {
  display: block;
}

.main-nav__icon-cross {
  fill: #ffffff;
}

.main-nav__toggle:hover .main-nav__icon-cross {
  fill: #d22856;
}

.main-nav__toggle:active .main-nav__icon-cross {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    top: 46px;
    right: 18px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    display: flex;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    margin-left: auto;
    padding-top: 29px;
    overflow: hidden;
  }
}
