.page-title {
  box-sizing: border-box;
  min-height: 170px;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat 0 -68px;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.page-title__text {
  font-family: $open-sans;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {

  .page-title {
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat;
    min-height: 328px;
    padding-bottom: 82px;
    background-position-x: -270px;
    background-position-y: -111px;
  }

  .page-title__text {
    margin-top: 44px;;
    font-family: $open-sans;
    font-size: 50px;
    font-weight: 300;
    line-height: 58px;
    text-align: center;
    color: #ffffff;
  }



}
