.page-footer--index-page {
  display: none;
}

.page-footer {
  background-color: #ffffff;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
}

.page-footer__logo:hover .page-footer__pink-word-icon path {
  fill: #d22856;
}

.page-footer__logo:active .page-footer__logo-icon path {
  opacity: 0.3;
}

.page-footer__logo:active .page-footer__pink-word-icon path {
  fill: #283645;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .page-footer--index-page {
    display: block;
  }

  .page-footer {
    padding-top: 35px;
  }

  .page-footer__container {
    display: flex;
  }

  .page-footer__logo-image--tablet {
    fill: #283645;
  }

  .page-footer__pink-logo-glases--tablet {
    fill: #d22856;
  }

  .page-footer__logo:hover .page-footer__logo-image--tablet  {
    fill: #d22856;
  }

  .page-footer__logo:active .page-footer__logo-image--tablet {
    opacity: 0.3;
    fill: #283645;
  }

  .page-footer__logo-image--desktop {
    display: none;
  }

}

@media (min-width: $desktop-width) {

  .page-footer {
    padding-top: 71px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 auto;
    max-width: 960px;
  }

  .page-footer__logo-image--desktop {
    fill: #283645;
  }

  .page-footer__logo:hover .page-footer__logo-image--desktop  {
    fill: #d22856;
  }

  .page-footer__logo:active .page-footer__logo-image--desktop {
    opacity: 0.3;
    fill: #283645;
  }

  .page-footer__logo-image--desktop {
    display: inline-block;
  }

  .page-footer__logo-image--tablet {
    display: none;
  }
}
