.page-footer--index-page {
  display: none;
}

.page-footer {
  background-color: #ffffff;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
}

// .page-footer__logo:hover .page-footer__pink-word-icon path {
//   fill: #d22856;
// }

// .page-footer__logo:active .page-footer__pink-word-icon  {
//   opacity: 0.3;
// }

.page-footer__logo:hover .page-footer__pink-word-icon path {
  fill: #d22856;
}

.page-footer__logo:active .page-footer__logo-icon path {
  opacity: 0.3;
}

.page-footer__logo:active .page-footer__pink-word-icon path {
  fill: #283645;
  opacity: 0.3;
}
