.price-slider {
  position: relative;
  padding: 0;
  padding-top: 100px;
  padding-bottom: 51px;
  background: #f2f2f2 url("../img/bg-triangle-white-3.svg") no-repeat center -46px;
}



.price-slider__slides-container {
  overflow: hidden;
  margin: 0;
  margin-top: 23px;
  margin-bottom: 42px;
  padding: 0;
  padding-right: 20px;
  padding-left: 20px;
}


.price-slider__slides {
  width: 300%;
}

.price-slider input {
  display: none;
}



.price-slider__controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-slider__controls label {
  display: flex;
  width: 6px;
  height: 6px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background-color: #bec2c7;

  &:hover {
    background-color: #283645;
  }

  &:active {
    opacity: 0.1;
  }
}

.price-slider__input-1:checked ~ .price-slider__controls > .price-slider__label-1,
.price-slider__input-2:checked ~ .price-slider__controls > .price-slider__label-2,
.price-slider__input-3:checked ~ .price-slider__controls > .price-slider__label-3 {
  box-shadow: 0 0 0 3px #283645;
  overflow: visible;
  background-color: transparent;
}

@media (max-width: 659px) {
  .price-slider__input-1:checked ~ .price-slider__slides-container .price-slider__slides {
    transform: translate(0);
    transition: transform 0.8s ease;
  }

  .price-slider__input-2:checked ~ .price-slider__slides-container .price-slider__slides {
    transform: translate(-33%);
    transition: transform 0.8s ease;
  }

  .price-slider__input-3:checked ~ .price-slider__slides-container .price-slider__slides {
    transform: translate(-66.6%);
    transition: transform 0.8s ease;
  }

}


@media (min-width: $tablet-width) {

  .price-slider__controls {
    display: none;
  }

  .price-slider {
    padding-top: 80px;
    padding-bottom: 27px;
    background-position-x: -1129px;
    background-position-y: -47px;
  }

  .price-slider__slides {
    width: auto;
  }

  .price-slider__slides-container {
    margin-top: 20px;
  }
}
