.research {
  display: none;
}

@media (min-width: $tablet-width) {
  .research {
    display: block;
    padding-top: 58px;
  }

  .research__title {
    margin: 0;
    margin-top: 36px;
    font-family: $open-sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    color: #000000;
    max-width: 175px;
  }

  .research__text {
    margin: 0;
    margin-top: 11px;
    margin-bottom: 10px;
    max-width: 303px;
    font-family: $open-sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #283645;

  }

  .research__link {
    font-family: $open-sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #d22856;
  }

  .research__item-image {
    position: relative;
    margin-right: 69px;
    background: url("../img/icon-timer-2.svg") no-repeat center;
    width: 240px;
    height: 276px;
    background-size: contain;
    flex-shrink: 0;
  }

  .research__item-image::before {
    content: "24";
    position: absolute;
    display: inline-block;
    top: 76px;
    left: 50%;
    font-size: 96px;
    font-weight: 700;
    line-height: 149.47px;
    transform: translateX(-50%);
    color: #d22856;
  }

  .research__item {
    display: flex;
  }

  .research__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
