.review-fieldset {
  margin: 0;
  padding: 0;
  padding-top: 32px;
  padding-right: 20px;
  padding-left: 20px;
  border: 0;
}

.review-fieldset__title {
  margin: 0;
  padding: 0;
  padding-bottom: 8px;
  font-family: $open-sans;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  color: #d22856;
}

.review-fieldset__input {
  padding-top: 14px;
  padding-bottom: 3px;
  padding-left: 19px;
  padding-right: 19px;
  font-family: $open-sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  border: 0;
  border: 2px solid #e5e5e5;
  resize: none;
  width: 100%;
  box-sizing: border-box;
  color: #283645;
}

@media (min-width: $tablet-width) {
  .review-fieldset {
    padding-top: 15px;
    padding-right: 58px;
    padding-left: 58px;
    padding-bottom: 50px;
    order: 6;
    border: 2px solid #e5e5e5;
  }

  .review-fieldset__title {
    padding: 0;
    padding-left: 38px;
    padding-right: 38px;
    display: inline-block;
    position: relative;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
  }

  .review-fieldset__input {
    height: 194px;
  }


}
