.upload-form {
  padding-top: 19px;
}

.upload-form__title {
  margin: 0 auto;
  margin-bottom: 42px;
  width: 320px;
  font-family: $open-sans;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  text-align: center;
  color: #283645;
}

.upload-form__content {
  background-color: #f2f2f2;
}

.upload-form__image-select {
  border: 0;
  padding: 0;
  margin: 0 auto;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 38px;
}

.upload-form__filter-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  margin: 0 auto;
  width: 253px;
}
.upload-form__filter-toggle {
  display: block;
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.upload-form__crop-tool,
.upload-form__fill-tool,
.upload-form__contrast-tool {
  opacity: 0.3;

  &:hover {
    fill: #283645;
    opacity: 0.5;
  }

  &:active {
    fill: #d22856;
    opacity: 1;
  }
}

.upload-form__filter-input-1:checked ~ .upload-form__filter-toggle-1 .upload-form__crop-tool {
  fill: #d22856;
  opacity: 1;
}

.upload-form__filter-input-2:checked ~ .upload-form__filter-toggle-2 .upload-form__fill-tool {
  fill: #d22856;
  opacity: 1;
}

.upload-form__filter-input-3:checked ~ .upload-form__filter-toggle-3 .upload-form__contrast-tool {
  fill: #d22856;
  opacity: 1;
}

.upload-form__fill-tool {
  padding-top: 2px;
}

.upload-form__contrast-tool {
  padding-top: 9px;
}

.upload-form__filter-toggle-2 {
  padding-right: 5px;
}

.upload-form__button-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 18px;
  padding-bottom: 42px;
}


.upload-form__button-submit,
.upload-form__button-reset {
  font-size: 18px;
  border-radius: 30px;
  background-color: transparent;
}

.upload-form__button-submit {
  border: 2px solid #d22856;
  color: #d22856;
  margin-bottom: 14px;
}

.upload-form__button-reset {
  color: rgba(40, 54, 69, 0.1);
  border: 2px solid rgba(40, 54, 69, 0.1);
}
